@import '../../styles/vars';

.page-content-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: $global-shadow-parameters;
  border-radius: $global-border-radius;
  .tlid-language-bar {
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    border-color: $background-gray-color;
    border-radius: $global-border-radius $global-border-radius 0 0;

    .sl-selector {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      width: 48%;
      color: $primary-text-color;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.2;
      padding-top: 6px;
      color: #4285f4;
      span {
        margin-right: 15px;
      }
    }
    .process-button {
      width: 4%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      i {
        cursor: pointer;
      }
    }
    .tl-selector {
      width: 48%;
      padding-left: 20px;
      button {
        margin: 10px;
        background: transparent;
        border: transparent;
        padding-top: 6px;
      }
      button#selected {
        color: #4285f4;
      }
      button:focus {
        outline: 0;
      }
    }
  }

  .source-result-wrap {
    width: 100%;
    display: flex;
    align-content: center;

    .source-wrap {
      width: 50%;
      min-height: 200px;
      textarea {
        padding: 10px;
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: transparent;
        resize: none;
        border-bottom-left-radius: $global-border-radius;
      }
      textarea:focus {
        outline: 0;
      }
    }
    .result-wrap {
      width: 50%;
      min-height: 200px;
      background-color: #f5f5f5;
      border-bottom-right-radius: $global-border-radius;

      p {
        width: 100%;
        margin: 0;
        padding: 10px;
      }
      p.fa {
        text-align: right;
      }
      p#generating {
        text-align: right;
        color: #8c939b;
      }
    }
  }
}
